.book-form-container {
  max-width: 400px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.book-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0b5ed7;
}

.book-form input,
.book-form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.book-form button {
  width: 100%;
  padding: 12px;
  background: #0b5ed7;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.book-form button:hover {
  background: #084298;
}